<div class="card-panel">
  <div class="row">
    <div id="listfiles" class="col s12">
      <div class="row">
        <form class="col s12"  id="campaign-form">
          <div class="row">
            <div class="input-field col s12">
              <textarea id="Description" name="Description" length="100" class="materialize-textarea"></textarea>
              <label for="Description">Campaign Description</label>
            </div>
            <div class="input-field col s6">
              <input id="Src" type="text" class="validate">
              <label for="Src">Source</label>
            </div>
            <div class="input-field col s6" id="FileIdSelect">
              <select id="FileId" name="FileId">
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
              </select>
              <label for="FileId">Destination Numbers File</label>
            </div>
            <script id="FileId-template" type="text/x-handlebars-template">
              <select id="FileId" name="FileId">
              {{#each NumFiles}}
                <option value="{{Id}}">{{Name}}</option>
              {{/each}}
              </select>
              <label for="Dst">Destination Numbers File</label>
            </script>
            <div class="input-field col s12">
              <textarea id="Msg" length="500" class="materialize-textarea"></textarea>
              <label for="Msg">Message</label>
            </div>
            <div class="input-field col s6">
              <input type="checkbox" id="Enc" name="Enc" />
              <label for="Enc">Non-English</label>
            </div>
            <div class="input-field col s6">
              <input type="number" class="validate" id="Priority" name="Priority" />
              <label for="Priority">Priority</label>
            </div>
            <div class="input-field col s12">
              <br/>
              <button class="btn teal waves-effect waves-light" type="submit" name="action">Send
                <i class="mdi-content-send right"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="row">
        <div class="col s12 right-align">
          <a href="#!" onclick="app.renderCampaignList();">Reload</a>
        </div>
      </div>
      <script id="list-campaign-template" type="text/x-handlebars-template">
        <table class="striped responsive-table">
          <thead>
            <tr>
                <th data-field="name">Source</th>
                <th data-field="price">File</th>
                <th data-field="id">Encoding</th>
                <th data-field="id">Submitted</th>
            </tr>
          </thead>
          <tbody>
            {{#each Campaigns}}
            <tr>
              <td>{{Src}}</td>
              <td>{{FileName}}</td>
              <td>{{Enc}}</td>
              <td>{{prettyDate SubmittedAt}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </script>
      <div id="list-campaign">
      </div>
    </div>
  </div>
</div>
