<div class="card-panel">
  <div class="row">
    <div id="listfiles" class="col s12">
      <div class="row">
        <form class="col s12"  id="message-form">
          <div class="row">
            <div class="input-field col s6">
              <input id="Src" type="text" class="validate">
              <label for="Src">Source</label>
            </div>
            <div class="input-field col s6">
              <input id="Dst" type="text" class="validate">
              <label for="Dst">Destination</label>
            </div>
            <div class="input-field col s12">
              <textarea id="Msg" length="500" class="materialize-textarea"></textarea>
              <label for="Msg">Message</label>
            </div>
            <div class="input-field col s12">
              <input type="checkbox" id="Enc" name="Enc" />
              <label for="Enc">Non-English</label>
            </div>
            <div class="input-field col s12">
              <br/>
              <button class="btn teal waves-effect waves-light" type="submit" name="action">Send
                <i class="mdi-content-send right"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="row">
        <div class="col s12 right-align">
          <a href="#!" onclick="app.renderMessageList();">Reload</a>
        </div>
      </div>
      <script id="list-message-template" type="text/x-handlebars-template">
        <table class="striped responsive-table">
          <thead>
            <tr>
                <th data-field="name">Source</th>
                <th data-field="price">Destination</th>
                <th data-field="id">Status</th>
                <th data-field="id">Error</th>
                <th data-field="id">Queued</th>
                <th data-field="id">Submitted</th>
                <th data-field="id">Delivered</th>
            </tr>
          </thead>
          <tbody>
            {{#each Messages}}
            <tr>
              <td>{{Src}}</td>
              <td>{{Dst}}</td>
              <td>{{Status}}</td>
              <td>{{Error}}</td>
              <td>{{prettyDate QueuedAt}}</td>
              <td>{{prettyDate SubmittedAt}}</td>
              <td>{{prettyDate DeliveredAt}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </script>
      <div id="list-message">
      </div>
    </div>
  </div>
</div>
