<div class="card-panel">
  <div class="row">
    <div id="listfiles" class="col s12">
      <div class="row">
        <form class="col s12"  id="reports-form">
          <div class="row">
            <div class="input-field col s6">
              <input id="Src" type="text" class="validate">
              <label for="Src">Source</label>
            </div>
            <div class="input-field col s6">
              <input id="Dst" type="text" class="validate">
              <label for="Dst">Destination</label>
            </div>
            <div class="input-field col s6">
              <input id="ConnectionGroup" type="text" class="validate">
              <label for="ConnectionGroup">ConnectionGroup</label>
            </div>
            <div class="input-field col s6">
              <input id="Username" type="text" class="validate">
              <label for="Username">Username</label>
            </div>
            <div class="input-field col s6">
              <input id="Enc" type="text" class="validate">
              <label for="Enc">Enc</label>
            </div>
            <div class="input-field col s6">
              <input id="QueuedBefore" type="text" class="validate">
              <label for="QueuedBefore">QueuedBefore</label>
            </div>
            <div class="input-field col s6">
              <input id="QueuedAfter" type="text" class="validate">
              <label for="QueuedAfter">QueuedAfter</label>
            </div>
            <div class="input-field col s6">
              <input id="SubmittedBefore" type="text" class="validate">
              <label for="SubmittedBefore">SubmittedBefore</label>
            </div>
            <div class="input-field col s6">
              <input id="SubmittedAfter" type="text" class="validate">
              <label for="SubmittedAfter">SubmittedAfter</label>
            </div>
            <div class="input-field col s6">
              <input id="DeliveredBefore" type="text" class="validate">
              <label for="DeliveredBefore">DeliveredBefore</label>
            </div>
            <div class="input-field col s6">
              <input id="CampaignId" type="number" class="validate">
              <label for="CampaignId">CampaignId</label>
            </div>
            <div class="input-field col s6">
              <input id="Error" type="text" class="validate">
              <label for="Error">Error</label>
            </div>
            <div class="input-field col s6">
              <input id="OrderByKey" type="text" class="validate">
              <label for="OrderByKey">OrderByKey</label>
            </div>
            <div class="input-field col s6">
              <input id="OrderByDir" type="text" class="validate">
              <label for="OrderByDir">OrderByDir</label>
            </div>
            <div class="input-field col s6">
              <input id="From" type="text" class="validate">
              <label for="From">From</label>
            </div>
            <div class="input-field col s6">
              <input id="PerPage" type="number" class="validate">
              <label for="PerPage">PerPage</label>
            </div>
            <div class="input-field col s12">
              <br/>
              <button class="btn teal waves-effect waves-light" type="submit" name="action">Filter
                <i class="mdi-content-send right"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
