<div class="card-panel">
  <div class="row">
    <div id="reports" class="col s12">
      <div class="row">
        <form class="col s12"  id="reports-form">
          <div class="row">
            <div class="input-field col s6">
              <input id="Src" name="Src" type="text" class="validate">
              <label for="Src">Source</label>
            </div>
            <div class="input-field col s6">
              <input id="Dst" name="Dst" type="text" class="validate">
              <label for="Dst">Destination</label>
            </div>
            <div class="input-field col s6">
              <input id="ConnectionGroup" name="ConnectionGroup" type="text" class="validate">
              <label for="ConnectionGroup">Connection Group</label>
            </div>
            <div class="input-field col s6">
              <input id="Connection" name="Connection" type="text" class="validate">
              <label for="Connection">Connection</label>
            </div>
            <div class="input-field col s6">
              <select id="Status" name="Status">
                <option value="">--Choose One--</option>
                <option value="Queued">Queued</option>
                <option value="Sent">Sent</option>
                <option value="Delivered">Delivered</option>
                <option value="Not Delivered">Not Delivered</option>
                <option value="Error">Error</option>
                <option value="Scheduled">Scheduled</option>
                <option value="Stopped">Stopped</option>
              </select>
              <label for="Status">Status</label>
            </div>
            <div class="input-field col s6">
              <input id="Username" name="Username" type="text" class="validate">
              <label for="Username">Username</label>
            </div>
            <div class="input-field col s6">
              <select id="Enc" name="Enc">
                <option value="">--Choose One--</option>
                <option value="latin">Latin</option>
                <option value="ucs">UCS</option>
              </select>
              <label for="Enc">Encoding</label>
            </div>
            <div class="input-field col s6" id="CampaignIdSelect">
              <select id="CampaignId" name="CampaignId">
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
              </select>
              <label for="CampaignId">Campaign</label>
            </div>
            <script id="CampaignId-template" type="text/x-handlebars-template">
              <select id="CampaignId" name="CampaignId">
                <option value="">--Choose One--</option>
              {{#each Campaigns}}
                <option value="{{Id}}">{{Description}}</option>
              {{/each}}
              </select>
              <label for="CampaignId">Campaign</label>
            </script>
            <div class="input-field col s6">
              <div class="row">
                <div class="input-field col s6" style="margin-top:0px;">
                  <input id="QueuedBefore_date" name="QueuedBefore_date" type="text" class="datepicker">
                  <label class="active" for="QueuedBefore_date">Queued Before</label>
                </div>
                <div class="input-field col s6" style="margin-top:0px;">
                  <input id="QueuedBefore_time" name="QueuedBefore_time" type="text" class="timepicker"">
                </div>
              </div>
            </div>
            <div class="input-field col s6">
              <div class="row">
                <div class="input-field col s6" style="margin-top:0px;">
                  <input id="QueuedAfter_date" name="QueuedAfter_date" type="text" class="datepicker">
                  <label class="active" for="QueuedAfter_date">Queued After</label>
                </div>
                <div class="input-field col s6" style="margin-top:0px;">
                  <input id="QueuedAfter_time" name="QueuedAfter_time" type="text" class="timepicker"">
                </div>
              </div>
            </div>
            <div class="input-field col s6">
              <div class="row">
                <div class="input-field col s6" style="margin-top:0px;">
                  <input id="SentBefore_date" name="SentBefore_date" type="text" class="datepicker">
                  <label class="active" for="SentBefore_date">Sent Before</label>
                </div>
                <div class="input-field col s6" style="margin-top:0px;">
                  <input id="SentBefore_time" name="SentBefore_time" type="text" class="timepicker"">
                </div>
              </div>
            </div>
            <div class="input-field col s6">
              <div class="row">
                <div class="input-field col s6" style="margin-top:0px;">
                  <input id="SentAfter_date" name="SentAfter_date" type="text" class="datepicker">
                  <label class="active" for="SentAfter_date">Sent After</label>
                </div>
                <div class="input-field col s6" style="margin-top:0px;">
                  <input id="SentAfter_time" name="SentAfter_time" type="text" class="timepicker"">
                </div>
              </div>
            </div>
            <div class="input-field col s6">
              <div class="row">
                <div class="input-field col s6" style="margin-top:0px;">
                  <input id="DeliveredBefore_date" name="DeliveredBefore_date" type="text" class="datepicker">
                  <label class="active" for="DeliveredBefore_date">Delivered Before</label>
                </div>
                <div class="input-field col s6" style="margin-top:0px;">
                  <input id="DeliveredBefore_time" name="DeliveredBefore_time" type="text" class="timepicker"">
                </div>
              </div>
            </div>
            <div class="input-field col s6">
              <div class="row">
                <div class="input-field col s6" style="margin-top:0px;">
                  <input id="DeliveredAfter_date" name="DeliveredAfter_date" type="text" class="datepicker">
                  <label class="active" for="DeliveredAfter_date">Delivered After</label>
                </div>
                <div class="input-field col s6" style="margin-top:0px;">
                  <input id="DeliveredAfter_time" name="DeliveredAfter_time" type="text" class="timepicker"">
                </div>
              </div>
            </div>
            <div class="input-field col s6">
              <div class="row">
                <div class="input-field col s6" style="margin-top:0px;">
                  <input id="ScheduledAt_date" name="ScheduledAt_date" type="text" class="datepicker">
                  <label class="active" for="ScheduledAt_date">Delivered After</label>
                </div>
                <div class="input-field col s6" style="margin-top:0px;">
                  <input id="ScheduledAt_time" name="ScheduledAt_time" type="text" class="timepicker"">
                </div>
              </div>
            </div>
            <div class="input-field col s6">
              <input id="Error" type="text" name="Error" class="validate">
              <label for="Error">Error Message</label>
            </div>
            <div class="input-field col s6">
              <select id="OrderByKey" name="OrderByKey">
                <option value="">--Choose One--</option>
                <option value="RespId">SMPP Response ID</option>
                <option value="ConnectionGroup">Connection Group</option>
                <option value="Connection">Connection</option>
                <option value="Username">Username</option>
                <option value="Enc">Encoding</option>
                <option value="Dst">Destination</option>
                <option value="Src">Source</option>
                <option value="Priority">Priority</option>
                <option selected value="QueuedAt">Queued Time</option>
                <option value="SentAt">Sent Time</option>
                <option value="DeliveredAt">Delivery Time</option>
                <option value="ScheduledAt">Schedule Time</option>
              </select>
              <label for="OrderByKey">Sort By</label>
            </div>
            <div class="input-field col s6">
              <select id="OrderByDir" name="OrderByDir">
                <option value="DESC">Descending</option>
                <option value="ASC">Ascending</option>
              </select>
              <label for="OrderByDir">Order Direction</label>
            </div>
            <div class="input-field col s6">
              <input id="From" type="text" class="validate">
              <label for="From">From</label>
            </div>
            <div class="input-field col s6">
              <input id="PerPage" type="number" value="100" class="validate">
              <label class="active" for="PerPage">Limit</label>
            </div>
            <div class="input-field col s12">
              <br/>
              <button class="btn teal waves-effect waves-light" id="reports-csv" name="action">Generate CSV Report
                <i class="mdi-content-send right"></i>
              </button>
              <button class="btn teal waves-effect waves-light" type="submit" name="action">Show Preview
                <i class="mdi-content-send right"></i>
              </button>              
              <div class="preloader-wrapper small preloader-top">
                <div class="spinner-layer spinner-green-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <script id="report-template" type="text/x-handlebars-template">
      <div class="row">
        <div class="col s12 right-align">
          <b>Total: </b>{{Stats.Total}} <b>Queued: </b>{{Stats.Queued}} <b>Sent: </b>{{Stats.Sent}} <b>Error: </b>{{Stats.Error}} <b>Delivered: </b>{{Stats.Delivered}} <b>Not Delivered: </b>{{Stats.NotDelivered}} <b>Stopped: </b>{{Stats.Stopped}} <b>Scheduled: </b>{{Stats.Scheduled}}
        </div>
      </div>
      <table class="striped responsive-table">
        <thead>
          <tr>
              <th data-field="name">Source</th>
              <th data-field="price">Destination</th>
              <th data-field="id">Status</th>
              <th data-field="id">Error</th>
              <th data-field="id">Queued</th>
              <th data-field="id">Sent</th>
              <th data-field="id">Delivered</th>
              <th data-field="id">Connection</th>
          </tr>
        </thead>
        <tbody>
          {{#each Messages}}
          <tr>
            <td>{{Src}}</td>
            <td>{{Dst}}</td>
            <td>{{Status}}</td>
            <td>{{Error}}</td>
            <td>{{prettyDate QueuedAt}}</td>
            <td>{{prettyDate SentAt}}</td>
            <td>{{prettyDate DeliveredAt}}</td>
            <td>{{Connection}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </script>
    <div id="report">
    </div>
  </div>
</div>
